.App {
  
}
.naver{
  float: right;

}

.App headerImg {
  float: left;

}
.naver link{
  text-decoration: none;

}

.naver ul li {
  padding: 10px;
  margin: 10px;
  float: left;
  list-style: none;
  text-decoration: nonme;
  margin-top: -80px;
  height: 200px;
  margin-right: 32px;
}


